%buttons {
  padding: 10px 32px !important;
  font-size: .85rem !important;
}

%button-mobile {
  padding: 10px 15px !important;
}

/* GENERAL *******************************************************************/

a.btn {
  @extend %buttons;
  font-weight: 600;

  @include media-breakpoint-down(sm) {
    padding: 10px 15px !important;
  }

  .custom-card & {
    display: block;
    padding: 10px 15px !important;
  }
}

/* HEADER ********************************************************************/

#page-header a.nav-link {
  @extend %buttons;
  color: black !important;
  text-transform: uppercase;

  &.btn {
    color: white !important;
  }
}

/* HERO **********************************************************************/

#hero a {
  &.btn:last-child {
    color: $gray-600;
  }
}

/* FOOTER ********************************************************************/

#page-footer {
  & button {
    @extend %buttons;
    font-weight: 600;
    color: white;
    white-space: nowrap;
  }

  & a.nav-link {
    @extend %buttons;
    color: white;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
      font-size: $font-size-min !important;
      text-align: center;
    }
  }

  & .icon-social {
    text-decoration: none;
  }
}
