%image-shadow {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 150%;
  height: 70%;
  border-radius: 100px;
  background-color: $primary;
}

.image-shadow {
  &-right {
    @extend %image-shadow;
    right: -80%;
  }

  &-left {
    @extend %image-shadow;
    left: -75%;
  }
}
