@use 'utils/variables' as *;

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/bootstrap-icons/font/bootstrap-icons.scss';

@import 'base/typography';

@import 'layout/grid';
@import 'layout/header';
@import 'layout/sections';
@import 'layout/features';
@import 'layout/faq';
@import 'layout/footer';

@import 'components/links';
@import 'components/image-shadow';
@import 'components/custom-card';
