@use 'utils/variables' as *;

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

@import 'base/typography';

@import 'layout/grid';
@import 'layout/header';
@import 'layout/sections';
@import 'layout/features';

@import 'components/links';
@import 'components/image-shadow';
