%feedback {
  z-index: 0;
  margin: -5px 0 0;
  width: 100%;
  padding: 10px 10px 5px;
  border-radius: 4px;
  color: white;
  font-size: .7rem;
  font-style: italic;
  font-weight: bold;
}

%form-control {
  position: relative;
  z-index: 1;
  border-width: 2px;
}

#contact-form {
  &.was-validated {
    & .form-control {
      &:invalid {
        @extend %form-control;
        border-color: $secondary;
      }
    }
  }

  & .invalid-feedback {
    @extend %feedback;
    background-color: $secondary;
  }

  &.was-validated {
    & .form-control {
      &:valid {
        @extend %form-control;
        border-color: #198754;
      }
    }
  }

  & .valid-feedback {
    @extend %feedback;

    background-color: #198754;
  }
}
